<legend>Android games</legend>
{{#app_list}}
<div class="table-responsive app-item col-sm-2">
    <img class="img-circle img-responsive" src="{{icon}}">
    <div class="list-content">
        <p class="list-title"> {{title}} </p>
        <p class="list-rating">Rating: {{number_ratings}}</p>
        <!--<p class="list-description">{{#if short_desc}}{{short_desc}}{{else}}No description{{/if}}</p>-->
        <p class="list-price">{{#if price}}{{price}}{{else}}FREE{{/if}}</p>
    </div>
</div>
{{/app_list}}