<legend>iOS Games</legend>
{{#app_list}} {{#if (isRowFilled @index "%" 6)}}
</div>
<div class="row">
    {{/if}}
    <div class="app-item col-sm-2">
        <img class="img-thumbnail img-responsive" src="{{artworkUrl60}}">
        <div class="list-content">
            <p class="list-title"> {{trackCensoredName}} </p>
            <p class="list-rating">Rating: {{userRatingCount}}</p>
            <!--<p class="list-description">{{#if releaseNotes}}{{releaseNotes}}{{else}}No description{{/if}}</p>-->
            <p class="list-price">{{#if price}}{{price}}{{else}}FREE{{/if}}</p>
        </div>
    </div>
    {{/app_list}}