<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <h3><label for="username" class="col-lg-2 control-label label">Username</label></h3>
            <div class="col-lg-10">
                <input class="form-control" id="input-username" placeholder="Username" type="text">
            </div>
        </div>
        <div class="form-group">
            <h3><label for="password" class="col-lg-2 control-label label">Password</label></h3>
            <div class="col-lg-10">
                <input class="form-control" id="input-password" placeholder="Password" type="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a href="#/home" id="sign-in" class="btn btn-success">Sign in</a>
                <a type="#/login" id="sign-up" class="btn btn-danger">Sign up</a>
            </div>
        </div>
    </fieldset>
</form>