<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <h3><label for="username" class="col-lg-2 control-label label">Username</label></h3>
                    <div class="col-lg-10">
                        <input class="form-control" id="input-username" placeholder="Username" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <h3><label for="password" class="col-lg-2 control-label label">Password</label></h3>
                    <div class="col-lg-10">
                        <input class="form-control" id="input-password" placeholder="Password" type="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href="#/login" id="sign-up" class="btn btn-info">Sign up</a>
                        <a href="#/home" id="sign-in" class="btn btn-success">Sign in</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer">
        </div>
    </div>
</div>