<article class="row">
    <section class="col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <legend>Login</legend>
                <section class="form-group">
                    <h3><label for="username" class="col-lg-2 control-label label">Username</label></h3>
                    <main class="col-lg-10">
                        <input class="form-control" id="input-username" placeholder="Username" type="text" required>
                    </main>
                </section>
                <section class="form-group">
                    <h3><label for="password" class="col-lg-2 control-label label">Password</label></h3>
                    <main class="col-lg-10">
                        <input class="form-control" id="input-password" placeholder="Password" type="password" required>
                    </main>
                </section>
                <section class="form-group">
                    <main class="col-lg-10 col-lg-offset-2">
                        <a id="sign-up" class="btn btn-info">Sign up</a>
                        <a id="sign-in" class="btn btn-success">Sign in</a>
                    </main>
                </section>
            </fieldset>
        </form>
    </section>
</article>