{{#this}} {{#if (math @index "%" 6)}}
</div>
<div class="row">
    {{/if}}
    <div id={{id}} class="col-sm-2  game-container user-game-container">
        <a href="#/user" title="Description" data-toggle="popover" data-content="{{#if summary}}{{summary}}{{else}}No description!{{/if}}">
            <img class="img-thumbnail img-responsive user-game-img" {{#if cover.url}}src="{{cover.url}}" {{else}}src="./images/game.png" style="max-width:100px" {{/if}}>
        </a>

        <a class="btn btn-sm btn-danger remove-game">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <div class="list-content">
            <p class="list-title">{{name}}</p>
        </div>
    </div>
    {{else}}
    <h1 class="row">There are no downloaded games!</h1>

    <div id='lolo' class="col-sm-2  game-container user-game-container">
        <a href="#/user" title="Description" data-toggle="popover" data-content="{{#if summary}}{{summary}}{{else}}No description! as dd ddd dddd dddddd dddd dddddd dddd ddd dddd dddddd dddd ddddd ddd ddddd dd dddd df oasfk asfoa sk fo askf oas f ka ofka so oaskfoas k aso{{/if}}">
            <img class="img-thumbnail img-responsive user-game-img" {{#if cover.url}}src="{{cover.url}}" {{else}}src="./images/game.png" style="max-width:100px" {{/if}}>
        </a>

        <a class="btn btn-sm btn-danger remove-game">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <div class="list-content">
            <p class="list-title">Name</p>
        </div>
    </div>
    {{/this}}