.container,
.wrapper {
    min-height: 100%;
}

.jumbotron {
    background-image: url('https://ubistatic19-a.akamaihd.net/ubicomstatic/en-GB/global/media/GRW_SCREENSHOT_E3_2015_5_211754.jpg');
    background-repeat: no-repeat;
}

.title {
    color: #B15315;
}

.description {
    color: grey;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
}

.user-controls,
.hidden {
    display: none;
}

.blurred {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.disabler {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.progress {
    margin-left: 11%;
    position: relative;
    width: 80%;
    top: 50%;
}

.game:hover {
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightslategray;
}

.game:hover .list-title {
    text-decoration: underline;
}

.list-price {
    color: lawngreen;
}

.pagination {
    margin-left: 30%;
    display: inline-block;
}