.jumbotron {
    background-image: url('https://ubistatic19-a.akamaihd.net/ubicomstatic/en-GB/global/media/GRW_SCREENSHOT_E3_2015_5_211754.jpg');
    background-repeat: no-repeat;
}

.title {
    color: #B15315;
}

.description {
    color: grey;
}